.form {
    display: inline-block;
    width: 100%;
}
    .form-row {
        display: inline-block;
        width: 100%;
    }
        .form-row + .form-row {
            margin-top: 40px;
        }
        label {
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            color: #777;
        }
        input {
            display: inline-block;
            width: 100%;
            border: none;
            font-size: 18px;
            color: #000;
            border-bottom: 1px solid #777;
            line-height: 40px;
        }
 
        .form-row > span {
            display: inline-block;
            float: left;
            padding: 10px;
            line-height: 20px;
            font-size: 20px;
            margin-left: 10px;
        }
        .form-row > a {
            display: inline-block;
            float: left;
            padding: 10px;
            line-height: 20px;
            font-size: 20px;
        }